/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-black;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }
  
  #root {
    @apply bg-black;
    min-height: 100vh;
    width: 100%;
  }
}